<div class="container">
	<div class="row">
		<div class="postagens">

			<div class="produtos">
				<div class="titulo-barra">
					<h2>Conheça <strong>Nossos Produtos</strong></h2>
					<div class="lateral"></div>
				</div>

				<div class="row">
					<div class="produto-item interna">
						<div class="post-informacoes">
							<h2>{{post.post_title}}</h2>
							<img ng-if="post.thumb_full[0]" ng-src="{{post.thumb_full[0]}}" alt="{{post.post_title}}" class="img-responsive">
							<div class="resumo" ng-bind-html="post.post_content"></div>
						</div>	
					</div>	
				</div>
			</div>
		</div>

		<div class="blog-sidebar">
			<div ng-if="conheca_leandro.post_title">
				<div class="titulo-barra">
					<h2>Conheça <strong>{{conheca_leandro.post_title}}</strong></h2>
					<div class="lateral"></div>
				</div>
				<img class="img-responsive" ng-src="{{conheca_leandro.thumb[0]}}" alt="{{conheca_leandro.post_title}}">
				<div class="sidebar-autor">
					<div ng-bind-html="conheca_leandro.post_content"></div>
					<div class="social">
						<a class="boxsocial" ng-if="blog_configuration.link_facebook" ng-href="{{blog_configuration.link_facebook}}">
							<i class="fa fa-facebook"></i>
						</a>
						<a class="boxsocial" ng-if="blog_configuration.link_twitter" ng-href="{{blog_configuration.link_twitter}}">
							<i class="fa fa-twitter"></i>
						</a>
						<a class="boxsocial" ng-if="blog_configuration.link_instagram" ng-href="{{blog_configuration.link_instagram}}">
							<i class="fa fa-instagram"></i>
						</a>
						<a class="boxsocial" ng-if="blog_configuration.link_youtube" ng-href="{{blog_configuration.link_youtube}}">
							<i class="fa fa-youtube"></i>
						</a>
					</div>
				</div>
			</div>
			<div ng-controller="CategoriesCtrl">
				<div class="titulo-barra">
					<h2>Categorias</h2>
					<div class="lateral"></div>
				</div>
				<div class="box-gradiente"></div>
				<div class="sidebar-categorias">
					<ul>
						<li ng-repeat="(key, category) in categories">
							<a ng-href="categorias/{{category.slug}}" class="link">{{category.name}} <span>{{category.count}}</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>