<div class="container">
	<div class="row">
		<div class="postagens">

			<div class="produtos">
				<div class="titulo-barra">
					<h2>Resultado da busca por: <strong>{{search_string}}</strong></h2>
					<div class="lateral"></div>
				</div>

				<div class="produto-item" ng-repeat="(key, post) in news">
					<a ng-href="novidades/{{post.post_name}}" ng-if="post.thumb[0]">
						<img class="img-responsive" ng-src="{{post.thumb[0]}}" alt="{{post.post_title}}">
					</a>
					<div class="post-informacoes">
						<div class="titulo">
							<h2>{{post.post_title}}</h2>
						</div>
						<div class="resumo" ng-bind-html="post.post_excerpt.length>150 ? post.post_excerpt : post.post_excerpt;"></div>
						<a class="botao" ng-href="novidades/{{post.post_name}}"><i class="fa fa-check"></i> QUERO APRENDER!</a>
					</div>
				</div>

				<uib-pagination
					ng-model="currentPage"
					total-items="news.length"
					max-size="maxSize"  
					boundary-links="true"
					previous-text="<"
					next-text=">"
					first-text="Primeiro"
					last-text="Último">
				</uib-pagination>
			</div>
		</div>

		<div class="blog-sidebar">
			<div ng-if="conheca_leandro.post_title">
				<div class="titulo-barra">
					<h2>Conheça <strong>{{conheca_leandro.post_title}}</strong></h2>
					<div class="lateral"></div>
				</div>
				<img class="img-responsive" ng-src="{{conheca_leandro.thumb[0]}}" alt="{{conheca_leandro.post_title}}">
				<div class="sidebar-autor">
					<div ng-bind-html="conheca_leandro.post_content"></div>
					<div class="social">
						<a class="boxsocial" ng-if="blog_configuration.link_facebook" ng-href="{{blog_configuration.link_facebook}}">
							<i class="fa fa-facebook"></i>
						</a>
						<a class="boxsocial" ng-if="blog_configuration.link_twitter" ng-href="{{blog_configuration.link_twitter}}">
							<i class="fa fa-twitter"></i>
						</a>
						<a class="boxsocial" ng-if="blog_configuration.link_instagram" ng-href="{{blog_configuration.link_instagram}}">
							<i class="fa fa-instagram"></i>
						</a>
						<a class="boxsocial" ng-if="blog_configuration.link_youtube" ng-href="{{blog_configuration.link_youtube}}">
							<i class="fa fa-youtube"></i>
						</a>
					</div>
				</div>
			</div>
			<div ng-controller="CategoriesCtrl">
				<div class="titulo-barra">
					<h2>Categorias</h2>
					<div class="lateral"></div>
				</div>
				<div class="box-gradiente"></div>
				<div class="sidebar-categorias">
					<ul>
						<li ng-repeat="(key, category) in categories">
							<a ng-href="categorias/{{category.slug}}" class="link">{{category.name}} <span>{{category.count}}</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>