<div class="container">
	<div class="row">
		<div class="postagens">

			<div class="posts-lista">
				<div class="titulo-barra">
					<h2>Novidades <strong>Curto Guitarra</strong></h2>
					<div class="lateral"></div>
				</div>
				<div class="area-conteudo" ng-repeat="(key, post) in news">
					<div class="texto" ng-if="post.thumb[0]">
						<a ng-href="novidades/{{post.post_name}}">
							<img class="img-responsive" ng-src="{{post.thumb[0]}}" alt="{{post.post_title}}">
						</a>
					</div>

					<div class="post-informacoes">
						<div class="dados"><strong>{{post.categories[0] ? post.categories[0].name : 'Não definido' }}</strong> <span>|</span> {{post.post_date_formated}} <span>|</span> Por <span>{{post.author}}</span></div>
						<div class="titulo">
							<h2>
								<a class="link" ng-href="novidades/{{post.post_name}}">{{post.post_title}}</a>
							</h2>
						</div>
						<div class="resumo" ng-bind-html="post.post_excerpt"></div>
					</div>

					<div class="social-posts">
						<span>compartilhe</span>
						<a href="#"><i class="fa fa-facebook fa-fw"></i></a>
						<a href="#"><i class="fa fa-twitter fa-fw"></i></a>
						<a href="#"><i class="fa fa-pinterest-p fa-fw"></i></a>
						<a href="#"><i class="fa fa-google-plus fa-fw"></i></a>
					</div>
				</div>

				<uib-pagination
					ng-model="currentPage"
					total-items="news.length"
					max-size="maxSize"  
					boundary-links="true"
					previous-text="<"
					next-text=">"
					first-text="Primeiro"
					last-text="Último">
				</uib-pagination>
			</div>
		</div>


		<div class="blog-sidebar">
			<div ng-if="conheca_leandro.post_title">
				<div class="titulo-barra">
					<h2>Conheça <strong>{{conheca_leandro.post_title}}</strong></h2>
					<div class="lateral"></div>
				</div>
				<img class="img-responsive" ng-src="{{conheca_leandro.thumb[0]}}" alt="{{conheca_leandro.post_title}}">
				<div class="sidebar-autor">
					<div ng-bind-html="conheca_leandro.post_content"></div>
					<div class="social">
						<a class="boxsocial" ng-if="blog_configuration.link_facebook" ng-href="{{blog_configuration.link_facebook}}">
							<i class="fa fa-facebook"></i>
						</a>
						<a class="boxsocial" ng-if="blog_configuration.link_twitter" ng-href="{{blog_configuration.link_twitter}}">
							<i class="fa fa-twitter"></i>
						</a>
						<a class="boxsocial" ng-if="blog_configuration.link_instagram" ng-href="{{blog_configuration.link_instagram}}">
							<i class="fa fa-instagram"></i>
						</a>
						<a class="boxsocial" ng-if="blog_configuration.link_youtube" ng-href="{{blog_configuration.link_youtube}}">
							<i class="fa fa-youtube"></i>
						</a>
					</div>
				</div>
			</div>
			<div ng-controller="CategoriesCtrl">
				<div class="titulo-barra">
					<h2>Categorias</h2>
					<div class="lateral"></div>
				</div>
				<div class="box-gradiente"></div>
				<div class="sidebar-categorias">
					<ul>
						<li ng-repeat="(key, category) in categories">
							<a ng-href="categorias/{{category.slug}}" class="link">{{category.name}} <span>{{category.count}}</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
