<div ng-include="'app/views/header.tpl.html'"></div>
<div ng-include="'app/views/call-to-action.tpl.html'"></div>
<div ng-include="'app/views/home/content.tpl.html'"></div>
<div ng-include="'app/views/footer.tpl.html'"></div>