<div class="container">
	<div class="row">
		<div class="postagens">

			<div class="produtos">
				<div class="titulo-barra">
					<h2>Conheça <strong>Nossos Produtos</strong></h2>
					<div class="lateral"></div>
				</div>

				<div class="produto-item" ng-repeat="(key, product) in products">
					<a ng-href="produtos/{{product.post_name}}">
						<img class="img-responsive" ng-src="{{product.thumb[0]}}" alt="{{product.post_title}}">
					</a>
					<div class="post-informacoes">
						<div class="titulo">
							<h2>{{product.post_title}}</h2>
						</div>
						<div class="resumo" ng-bind-html="product.post_excerpt.length>150 ? product.post_excerpt : product.post_excerpt;"></div>
						<a class="botao" ng-href="produtos/{{product.post_name}}"><i class="fa fa-check"></i> QUERO APRENDER!</a>
					</div>
				</div>
			</div>
		</div>

		<div class="blog-sidebar">
			<div ng-if="conheca_leandro.post_title">
				<div class="titulo-barra">
					<h2>Conheça <strong>{{conheca_leandro.post_title}}</strong></h2>
					<div class="lateral"></div>
				</div>
				<img class="img-responsive" ng-src="{{conheca_leandro.thumb[0]}}" alt="{{conheca_leandro.post_title}}">
				<div class="sidebar-autor">
					<div ng-bind-html="conheca_leandro.post_content"></div>
					<div class="social">
						<a class="boxsocial" ng-if="blog_configuration.link_facebook" ng-href="{{blog_configuration.link_facebook}}">
							<i class="fa fa-facebook"></i>
						</a>
						<a class="boxsocial" ng-if="blog_configuration.link_twitter" ng-href="{{blog_configuration.link_twitter}}">
							<i class="fa fa-twitter"></i>
						</a>
						<a class="boxsocial" ng-if="blog_configuration.link_instagram" ng-href="{{blog_configuration.link_instagram}}">
							<i class="fa fa-instagram"></i>
						</a>
						<a class="boxsocial" ng-if="blog_configuration.link_youtube" ng-href="{{blog_configuration.link_youtube}}">
							<i class="fa fa-youtube"></i>
						</a>
					</div>
				</div>
			</div>
			<div ng-controller="CategoriesCtrl">
				<div class="titulo-barra">
					<h2>Categorias</h2>
					<div class="lateral"></div>
				</div>
				<div class="box-gradiente"></div>
				<div class="sidebar-categorias">
					<ul>
						<li ng-repeat="(key, category) in categories">
							<a ng-href="categorias/{{category.slug}}" class="link">{{category.name}} <span>{{category.count}}</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>