<div class="banner-calltoaction" ng-if="blog_configuration.call_to_action_activation != 'false'">
	<div class="container">
		<div class="row">
			<div class="conteudo mote" ng-bind-html="blog_configuration.call_to_action_text"></div>
			<div class="imagem">
				<img ng-if="blog_configuration.call_to_action_thumb_url" src="app/img/produto-e-book.png" ng-src="{{blog_configuration.call_to_action_thumb_url}}" alt="Call to Action">
			</div>
			<div class="conteudo mote-segundo" ng-bind-html="blog_configuration.call_to_action_text_2"></div>
		</div>
	</div>
</div>
<div class="banner-botao-form">
	<div class="container">
		<div class="row">
			<div class="conteudo" ng-bind-html="blog_configuration.call_to_action_form_code"></div>
		</div>
	</div>
</div>