<div ng-controller="CategoriesCtrl">
	<div class="titulo-barra">
		<h2>Categorias</h2>
		<div class="lateral"></div>
	</div>
	<div class="box-gradiente"></div>
	<div class="sidebar-categorias">
		<ul>
			<li ng-repeat="(key, category) in categories">
				<a ng-href="categorias/{{category.slug}}" class="link">{{category.name}} <span>{{category.count}}</span></a>
			</li>
		</ul>
	</div>
</div>