<div class="rodape">
	<div class="container">
		<div class="row">
			<div class="rodape-copyright">
				<div class="copyright-site">
					2015 - Todos os direitos reservados
				</div>
			</div>
			<div class="rodape-copyright">
				<div class="copyright-autor">
					<img src="app/img/senso.png" alt="">
				</div>
			</div>
		</div>
	</div>
</div>