<div class="topo">
	<div class="menu" ng-controller="MenuCtrl">
		<div class="container">
			<div class="row">
				<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-principal" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<i class="fa fa-bars"></i> MENU
						</button>
						<a class="navbar-brand" href="/">
							<img src="app/img/marca.png" alt="Curto guitarra">
						</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="menu-principal">
						<a class="conteudo marca" href="/">
							<img src="app/img/marca.png" alt="Curto guitarra">
						</a>

						<div class="conteudo opcoes">
							<ul class="nav navbar-nav">
								<li ng-repeat="(key, menu_item) in menu_items">
									<a ng-href="{{menu_item.link}}">{{menu_item.title}}</a>
								</li>
							</ul>
						</div>
						<div class="conteudo social">
							<a class="boxsocial" ng-if="blog_configuration.link_facebook" ng-href="{{blog_configuration.link_facebook}}">
								<i class="fa fa-facebook"></i>
							</a>
							<a class="boxsocial" ng-if="blog_configuration.link_twitter" ng-href="{{blog_configuration.link_twitter}}">
								<i class="fa fa-twitter"></i>
							</a>
							<a class="boxsocial" ng-if="blog_configuration.link_instagram" ng-href="{{blog_configuration.link_instagram}}">
								<i class="fa fa-instagram"></i>
							</a>
							<a class="boxsocial" ng-if="blog_configuration.link_youtube" ng-href="{{blog_configuration.link_youtube}}">
								<i class="fa fa-youtube"></i>
							</a>
							<a class="boxbuscar" href="#" ng-click="open_search()">
								<i class="fa fa-search"></i>
							</a>
						</div>
					</div><!-- /.navbar-collapse -->
				</nav>
			</div>
		</div>
	</div>

	<div class="container" ng-controller="SlideCtrl" ng-if="blog_configuration.tipo_topo=='1'">
		<div class="slide-full" id="slide-full">
			<div class="item" ng-repeat="(key, slide) in slides">
				<div class="texto" ng-bind-html="slide.post_content">
					<h2>
						GUITARRA <br>
						<strong>DESCOMPLICADA</strong>
					</h2>
					<p>
						Aulas práticas e objetivas com quem entende de guitarra! <br>
						<a class="botao" href="#">Saiba mais!</a>
					</p>

				</div>
				<div class="imagem" ng-if="slide.thumb[0]">
					<img ng-src="{{slide.thumb[0]}}" alt="{{slide.post_title}}">
				</div>
			</div>
		</div>	
	</div>

	<div class="slide-full" id="slide-without-text-full" ng-controller="SlideWithoutTextCtrl" ng-if="blog_configuration.tipo_topo=='2'">
		<div class="item" ng-repeat="(key, news) in slide_news">
			<a ng-href="{{news.link}}"><img ng-src="{{news.thumb_slide[0]}}" alt="{{news.post_title}}" class="img-responsive"></a>			
		</div>
	</div>

	<div class="slide-full" id="slide-news" ng-controller="SlideNewsCtrl" ng-if="blog_configuration.tipo_topo=='3'">
		<div class="item" ng-repeat="(key, news) in slide_news">
			<a ng-href="novidades/{{news.post_name}}"><img ng-src="{{news.thumb_slide[0]}}" alt="{{news.post_title}}" class="img-responsive"></a>
		</div>
	</div>
</div>