<div class="modal-header">
    <h3 class="modal-title text-center">
       <img src="app/img/marca.png" alt="Curto guitarra"> 
    </h3>
</div>
<div class="modal-body form-inline text-center" ng-controller="SeachModalCtrl">
    <form ng-submit="submit_search()+$close()">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="O que deseja procurar?" ng-model="search_string">
            <button class="btn btn-primary" type="button" ng-click="submit_search()+$close()"><i class="fa fa-search"></i></button>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="$close()">Cancelar</button>
</div>