@charset 'utf-8';
/*!
Theme Name: Dama Fitness
Author: Senso Criativo
Description: Tema desenvolvido por Senso Criativo
Version: 0.1
*/

@import "assets/stylesheets/bootstrap-sprockets";
@import "assets/stylesheets/bootstrap";

// Core variables and mixins
@import "assets/stylesheets/bootstrap/variables";
@import "assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "assets/stylesheets/bootstrap/normalize";
@import "assets/stylesheets/bootstrap/print";
// @import "assets/stylesheets/bootstrap/glyphicons";

// Core CSS
@import "assets/stylesheets/bootstrap/scaffolding";
@import "assets/stylesheets/bootstrap/type";
@import "assets/stylesheets/bootstrap/code";
@import "assets/stylesheets/bootstrap/grid";
@import "assets/stylesheets/bootstrap/tables";
@import "assets/stylesheets/bootstrap/forms";
@import "assets/stylesheets/bootstrap/buttons";

// Components
@import "assets/stylesheets/bootstrap/component-animations";
@import "assets/stylesheets/bootstrap/dropdowns";
@import "assets/stylesheets/bootstrap/button-groups";
@import "assets/stylesheets/bootstrap/input-groups";
@import "assets/stylesheets/bootstrap/navs";
@import "assets/stylesheets/bootstrap/navbar";
// @import "assets/stylesheets/bootstrap/breadcrumbs";
@import "assets/stylesheets/bootstrap/pagination";
@import "assets/stylesheets/bootstrap/pager";
// @import "assets/stylesheets/bootstrap/labels";
@import "assets/stylesheets/bootstrap/badges";
// @import "assets/stylesheets/bootstrap/jumbotron";
@import "assets/stylesheets/bootstrap/thumbnails";
@import "assets/stylesheets/bootstrap/alerts";
// @import "assets/stylesheets/bootstrap/progress-bars";
@import "assets/stylesheets/bootstrap/media";
@import "assets/stylesheets/bootstrap/list-group";
@import "assets/stylesheets/bootstrap/panels";
@import "assets/stylesheets/bootstrap/responsive-embed";
// @import "assets/stylesheets/bootstrap/wells";
@import "assets/stylesheets/bootstrap/close";

// Components w/ JavaScript
@import "assets/stylesheets/bootstrap/modals";
// @import "assets/stylesheets/bootstrap/tooltip";
// @import "assets/stylesheets/bootstrap/popovers";
// @import "assets/stylesheets/bootstrap/carousel";

// Utility classes
@import "assets/stylesheets/bootstrap/utilities";
@import "assets/stylesheets/bootstrap/responsive-utilities";

@mixin transition($option: all 0.3s linear) {
	-webkit-transition: $option;
	-moz-transition: $option;
	-ms-transition: $option;
	-o-transition: $option;
	transition: $option;
}

a, .btn, .cursos .media .pull-left img, .item, .conteudo-img {
	@include transition();
}

body { 
	font-family: 'Roboto', sans-serif;
	background: url('img/bg-topo.png') repeat;
	background: #232930;
}

.topo {
	width: 100%;
	background: url('img/bg-video.png') repeat top center;
	position: relative;
	border-bottom: 7px solid #232930;

	.tv {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -99;

		width: 100%;
		height: 100%;

		overflow: hidden;

		.screen {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -99;

			margin: auto;

			opacity: 0;
			transition: opacity .5s;

			&.active {
				opacity: 1;
			}
		}
	}

	.menu {
		width: 100%;
		min-height: 105px;
		background: none;
		border-bottom: none;
		position: relative;
		margin-bottom: 25px;

		@media (max-width: $screen-xs-max) {
			min-height: 65px;
		}
		
		.navbar {
	    	position: relative;
			min-height: 70px;
			margin-bottom: 0px;
			border: none;
			background: none;

			@media (max-width: $screen-xs-max) {
				background: #000;
				position: fixed;
				top: 0;
				z-index: 9999;
				width: 100%;
				padding-right: 15px;
			}

			.navbar-default {
				background: none;
				border: none;
			}
		}


		&.top-fixed {
			position: fixed;
			top: -75px;
			left: 0;
			width: 100%;
			z-index: 9999;
			@include transition;

			&.show {
				display: block;
				top: 0;
			}
		}

		nav {
			.navbar-nav{
				&>li {	
					&>a {
						color: #fff;
						margin-right: 10px;
						font-size: 16px;
						font-weight: 700;
						text-transform: uppercase;
						font-family: 'Roboto Condensed', sans-serif;

					    &:hover {
					    	background-color: transparent;
					    }
					}

				    &:last-child {
				    	margin: 0 10px 0 0;
				    }

				    &.open {
				    	background-color: transparent;

				    	&>a, &>a:hover, &>a:focus {
				    		background-color: transparent;
				    	}
				    }
					
					@media (max-width: $screen-xs-max) {
						margin: 0 0 15px 0 !important;
						text-align: center;
						font-size: 16px;
					}
				}
			}
		}

		.navbar-default {
			background-color: none !important;
			border-color: none !important;
		}

		.navbar-brand {
			@extend .visible-xs;
			@extend .hidden-sm;
			@extend .hidden-md;
			@extend .hidden-lg;
			padding-top: 10px;
			
			img {
				@media (max-width: $screen-xs-max) {
					height: 50px;
				}
			}
		}

		.navbar-collapse {
			border: none;
		}

		.navbar-toggle {
			margin-top: 15px;
			margin-right: 0;
			border: 0;
			color: #fff;

			&:hover {
				background: #FB4D0F;
			}

			&:focus {
				background: #D13704;
			}
		}

		.conteudo {

			&.opcoes {
				margin-top: 55px;

				@media (max-width: $screen-xs-max) {
					margin-top: 25px;
				}

				@include make-xs-column(12);
				@include make-sm-column(6);
				@include make-md-column(6);
				@extend .text-left;

				li {
					a {
						color: #fff;
						margin-right: 10px;
						font-size: 16px;
						font-weight: 700;
						text-transform: uppercase;
						font-family: 'Roboto Condensed', sans-serif;
						padding: 0;

						&:hover {
							color: #FB4D0F;
						}
					}	
				}
			}

			&.marca {
				margin-top: 10px;
				margin-bottom: 10px;

				@include make-xs-column(12);
				@include make-sm-column(3);
				@include make-md-column(2);
				@extend .text-center;
				@extend .hidden-xs;
			}

			&.social {
				margin-top: 50px;

				@include make-xs-column(12);
				@include make-sm-column(3);
				@include make-md-column(4);
				@extend .text-right;

				@media (max-width: $screen-xs-max) {
					text-align: center;
					margin-top: 10px;
				}

				.boxsocial {
					-webkit-border-radius: 50%;
					border-radius: 50%;
					background: #F94D0F;
					color: #fff;
					width: 25px;
					height: 25px;
					display: inline-block;
					text-align: center;
					padding-top: 3px;
					margin: 0 3px 10px 0;
					@include transition();
					
					&:hover {
						background: #C63505;
					}

					&:last-child {
						margin: 0 0 10px 0;
					}
				}

				.boxbuscar {
					@extend .boxsocial;
					background: #902403;
				}
			}
		}
	}

	.marca {
		background-size: cover;
		text-align: center;
	}

	.slide-full {
		.item {

			.texto {
				@include make-xs-column(12);
				@include make-sm-column(6);
				@include make-md-column(6);
				color: #fff;
				font-family: 'Roboto Condensed', sans-serif;

				h2 {
					line-height: .8em;
					font-size: 3.8em;	
					margin-top: 70px;				

					@media (max-width: $screen-sm-max) {
						font-size: 3.2em;
					}

					@media (max-width: $screen-xs-max) {
						font-size: 2.7em;
						text-align: center;
						margin-top: 0;
					}

					strong {
						font-weight: 700;
					}
				}

				p {
					font-family: 'Roboto', sans-serif;
					font-size: 27px;
					font-weight: 300;

					.botao {
						@extend .btn;
						@extend .btn-default;
						margin-top: 15px;
						font-size: 19px;
						padding: 8px 40px;
						text-transform: uppercase;
						color: #fff;
						background: #4bbfb2;
						border: 0;

						&:hover {
							background: #2F8379;
							color: #fff;
						}
					}

					@media (max-width: $screen-sm-max) {
						font-size: 18px;
					}

					@media (max-width: $screen-xs-max) {
						font-size: 14px;
						text-align: center;
					}
				}
			}

			.imagem{
				@include make-xs-column(12);
				@include make-sm-column(6);
				@include make-md-column(6);

				@media (max-width: $screen-xs-max) {
					margin-top: 15px;
				}
			}
		}
		.owl-controls {
			margin: 0;
			.owl-nav {
				.owl-prev {
					position: absolute;
					top: 50%;
					left: 1%;
					color: #FF1282;
					font-size: 20px;
					margin: 0px;
					padding: 1px 0px;
					background: #FFFFFF;
					display: inline-block;
					cursor: pointer;
					-webkit-border-radius: 3px;
					-moz-border-radius: 3px;
					border-radius: 50%;
					width: 35px;
					height: 35px;
					font-weight: 700;
					border: 2px solid #F3C9DD;
				}

				.owl-next {
					position: absolute;
					top: 50%;
					right: 1%;
					color: #FF1282;
					font-size: 20px;
					margin: 0px;
					padding: 1px 0px;
					background: #FFFFFF;
					display: inline-block;
					cursor: pointer;
					-webkit-border-radius: 3px;
					-moz-border-radius: 3px;
					border-radius: 50%;
					width: 35px;
					height: 35px;
					font-weight: 700;
					border: 2px solid #F3C9DD;
				}
			}

			.owl-dots {
				position: absolute;
				bottom: 10px;
				z-index: 3838;
				width: 100%;
				text-align: center;

				.owl-dot {
					span {
						background: rgba(255, 255, 255, 0.3);
						border: none;
						border-radius: 0;
						width: 50px;
						height: 12px;
					}

					&.active {
						background: rgba(255, 255, 255, 0.5);
					}
				}
			}
		}
	}
}

.busca {
	width: 100%;
	background: #5F065E;
	text-align: center;
	padding: 10px 0;

	&.fixed {
		position: fixed;
		top: 71px;
		left: 0;
		z-index: 9999;
	}

	.form-group {
		.form-control {
			border-radius: 15px;
		}
	}
	.btn {
		border-radius: 15px;
	}
}

.wpcf7-form {
	.form-group {
		.form-control {
			border-radius: 15px;
		}
	}
	.btn {
		border-radius: 15px;
	}	
}

.banner-calltoaction {
	min-height: 200px;
	background: #f15f22;
	border-bottom: 6px solid #3f464f;
	width: 100%;
	display: inline-block;

	.conteudo {
		@include make-xs-column(12);
		@include make-sm-column(12);
		@include make-md-column(8);
		@extend .text-center;

		&.mote {
			font-family: 'Roboto', sans-serif;
			font-size: 36px;
			color: #fff;
			font-weight: 400;
			margin: 35px 0;

			strong {
				font-weight: 700;
			}

			.botao {
				@extend .btn;
				@extend .btn-default;
				margin-top: 15px;
				font-size: 19px;
				padding: 8px 40px;
				text-transform: uppercase;
				color: #fff;
				background: #4bbfb2;
				border: 0;

				&:hover {
					background: #2F8379;
					color: #fff;
				}
			}

			@media (max-width: $screen-xs-max) {
				font-size: 28px;
			}
		}
	}

	.imagem {
		@include make-xs-column(12);
		@include make-sm-column(12);
		@include make-md-column(4);
		margin-top: 15px;
		text-align: center;

		img {
			width: 100%;

			@media (max-width: $screen-sm-max) {
				width: auto;
				text-align: center;
			}

			@media (max-width: $screen-xs-max) {
				margin-top: 0;
				width: 100%;
			}
		}

		@media (max-width: $screen-sm-max) {
			margin-top: 0;
		}
	}
}

.postagens {
	@include make-xs-column(12);
	@include make-sm-column(8);
	@include make-md-column(9);
	margin: 25px 0 0 0;

	.produtos {
		.titulo-barra {
			background: #f15f22;
			padding: 6px 13px;
			position: relative;
			margin-bottom: 14px;

			.lateral {
				background: url('img/lateral.png');
				width: 50px;
				height: 48px;
				display: block;
				position: absolute;
				right: -1px;
				top: 0;
			}

			h2 {
				font-family: 'Roboto Condensed', sans-serif;
				font-size: 20px;
				margin: 15px 0 6px 0;
				padding-top: 5px;
				color: #fff;
				display: block;
				text-align: left;

				&:first-child {
					margin: 0 0 6px 0;
				}
			}
		}

		.produto-item {
			@include make-xs-column(12);
			@include make-sm-column(6);
			@include make-md-column(6);
			text-align: center;
			color: #fff;

			h2 {
				font-size: 20px;
				font-weight: 700;
				margin: 0px;
				padding: 15px 10px;
			}

			.post-informacoes {
				display: inline-block;
				background: #363e44;
				padding: 0 0 15px 0;
				height: 280px;

				.resumo {
					padding: 0 15px;
				}
			}

			.botao {
				@extend .btn;
				@extend .btn-default;
				margin-top: 15px;
				font-size: 19px;
				padding: 8px 40px;
				text-transform: uppercase;
				color: #fff;
				background: #4bbfb2;
				border: 0;

				&:hover {
					background: #2F8379;
					color: #fff;
				}
			}			
		}
	}

	.posts-lista {
		width: 100%;
		display: inline-block;
		margin-top: 30px;

		.titulo-barra {
			background: #f15f22;
			padding: 6px 13px;
			position: relative;
			margin-bottom: 14px;

			.lateral {
				background: url('img/lateral.png');
				width: 50px;
				height: 48px;
				display: block;
				position: absolute;
				right: -1px;
				top: 0;
			}

			h2 {
				font-family: 'Roboto Condensed', sans-serif;
				font-size: 20px;
				margin: 15px 0 6px 0;
				padding-top: 5px;
				color: #fff;
				display: block;
				text-align: left;

				&:first-child {
					margin: 0 0 6px 0;
				}
			}
		}

		.area-conteudo {
			background: #363e44;
			padding: 0;
			width: 100%;
			display: inline-block;

			.texto {
				margin-top: 0;

				.texto-content {
					padding: 15px 30px 0 30px;
					font-size: 16px;
					font-weight: 400;

					iframe {
						width: 100%;
						min-height: 450px;
					}
				}
			}

			.social-posts {
				width: 100%;
				border-top: 1px solid #232930;
				display: inline-block;
				color: #fff;
				text-align: right;

				@media (min-width: 0px) and (max-width: $screen-xs-max) {
					text-align: center;
				}

				span {
					padding-right: 5px;
					@media (min-width: 0px) and (max-width: $screen-xs-max) {
						display: none;
					}	
				}

				a {
					color: #fff;
					text-decoration: none;
					padding: 15px 16px;
					display: inline-block;
					border-left: 1px solid #232930;

					&:hover {
						color: #f15f22;
					}

					@media (min-width: 0px) and (max-width: $screen-xs-max) {
						&:last-child {
							border-right: 1px solid #232930;
						}
					}
				}
			}

			.post-informacoes {
				@include make-xs-column(12);
				@include make-sm-column(12);
				@include make-md-column(12);
				padding: 0 30px;
				margin: 25px 0;

				.dados {
					font-size: 10px;
					font-weight: 700;
					color: #939393;

					strong {
						text-transform: uppercase;
					}

					span {
						color: #f15f22;
					}

					@media (max-width: $screen-xs-max) {
						text-align: center;
						margin-top: 15px;
					}
				}

				.titulo {
					width: 100%;

					h2 {
						font-family: 'Roboto Condensed', sans-serif;
						margin: 0;
						padding: 0;
						font-weight: 700;
						color: #fff;
						font-size: 55px;
						
						a {
							color: #5f065e;
						}

						@media (max-width: $screen-sm-max) {
							text-align: center;
							margin-bottom: 15px;
							font-size: 40px;
						}

						@media (max-width: $screen-xs-max) {
							text-align: center;
							margin-bottom: 15px;
							font-size: 25px;
						}
					}
				}
				.resumo {
					font-size: 16px;
					color: #939393;

					@media (min-width: 0px) and (max-width: $screen-xs-max) {
						font-size: 14px;
						text-align: center;
					}
				}
			}

			.contador-coments {
				@include make-xs-column(12);
				@include make-sm-column(2);
				@include make-md-column(2);

				.box {
					width: 50px;
					height: 50px;
					position: relative;
					font-size: 3.5em;
					line-height: 0;
					color: #f15f22;
					margin-left: 50%;
					margin-right: 50%;
					left: -25px;

					.numero-coments {
						color: #fff;
						position: absolute;
						font-size: 16px;
						top: 50%;
						width: 100%;
						text-align: center;
					}
				}
			}
		}

		.paginacao {
			@include make-xs-column(12);
			@include make-sm-column(12);
			@include make-md-column(12);
			text-align: center;
			margin-top: 30px;

			a {
				color: #fff;
				text-decoration: none;
				padding: 15px 21px;
				display: inline-block;
				border-left: 1px solid #232930;
				background: #363E44;

				&#active {
					background: #232930 !important;
				}

				&:hover {
					color: #f15f22;
				}

				@media (min-width: 0px) and (max-width: $screen-xs-max) {
					padding: 5px 10px;
				}
			}
		}
	}
}

.blog-sidebar {
	@include make-xs-column(12);
	@include make-sm-column(4);
	@include make-md-column(3);
	@extend .hidden-xs;
	margin: 25px 0 0 0;

	.titulo-barra {
		background: #f15f22;
		padding: 6px 13px;
		position: relative;
		margin-bottom: 14px;

		.lateral {
			background: url('img/lateral.png');
			width: 50px;
			height: 48px;
			display: block;
			position: absolute;
			right: -1px;
			top: 0;
		}

		h2 {
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 20px;
			margin: 15px 0 6px 0;
			padding-top: 5px;
			color: #fff;
			display: block;
			text-align: left;

			&:first-child {
				margin: 0 0 6px 0;
			}
		}
	}
	
	&>ul {
		@extend .sidebar-categorias;
		position: relative;
		list-style: none;

		&:before {
			
			content: " ";
			position: absolute;
			top: 0;
			left: 0;
		}

		&>li {
			&>a {
				color: #454545;
				font-weight: 400;
			}
		}
	}

	.sidebar-autor {
		@extend .text-center;
		border-radius: 0 0 6px 6px;
		padding: 15px;
		font-size: 16px;
		font-weight: 700;
		color: #fff;

		.social {
			.boxsocial {
				-webkit-border-radius: 50%;
				border-radius: 50%;
				background: #f15f22;
				color: #fff;
				width: 25px;
				height: 25px;
				display: inline-block;
				text-align: center;
				padding-top: 3px;
				margin: 15px 3px 10px 0;
				@include transition();

				&:hover {
					background: #220222;
				}

				&:last-child {
					margin: 0 0 10px 0;
				}
			}
		}
	}

	.sidebar-categorias {
		@extend .sidebar-autor;
		text-align: left;

		ul {
			@extend .list-unstyled;
			font-weight: 400;
			
			a {
				color: #454545;
			}

			span {
				@extend .badge;
				background: #f15f22;
			}
		}
	}
}

.rodape {
	width: 100%;
	display: inline-block;
	background: #f15f22;
	margin: 30px 0 0 0;
	padding: 15px 0 15px 0;
	color: #000;
	border-top: 5px solid #151a1f;

	.rodape-copyright {
		@include make-xs-column(12);
		@include make-sm-column(6);
		@include make-md-column(6);
		font-size: 12px;

		.copyright-site {
			text-align: left;

			@media (min-width: 0px) and (max-width: $screen-xs-max) {
				text-align: center;
			}
		}

		.copyright-autor {
			text-align: right;

			@media (min-width: 0px) and (max-width: $screen-xs-max) {
				text-align: center;
			}
		}
	}
}

.navbar-default {
	.navbar-nav {
		&>.active {
			&>a {
				background-color: transparent;
				color: #f15f22;
				font-weight: 800;
			}
		}
	}
}

.comments-area {
	display: inline-block;
	width: 100%;
	padding: 0 15px;
	margin-top: 20px;
	border-top: 1px solid #ff1d81;

	.comments-title {
		font-weight: 700;
		color: #f50074;
	}

	.comment-list {
		list-style: none;
		padding: 0 15px;
		margin-top: 20px;

		&>.comment {
			border-bottom: 1px solid #f50074;

			&:last-child {
				border-bottom: none;
			}
		}

		.comment {
			padding: 10px;
			margin-bottom: 15px;
			@include transition();

			&:hover {
				background-color: #FAEBD7;
			}

			.comment-body {
				.comment-author {
					margin-bottom: 10px;
				}
				.reply {
					.comment-reply-link {
						@extend .btn;
						@extend .btn-primary;
						@extend .btn-sm;
						border-radius: 15px;
					}
				}
			}
		}
	}
}

.comment-respond {
	display: inline-block;
	width: 100%;
	padding: 0 15px;
	border-top: 1px solid #ff1d81;
	
	h3 {
		font-weight: 700;
		color: #f50074;
	}

	input[type=text], textarea {
		@extend .form-control;
		border-radius: 15px;
	}

	input[type=submit] {
		@extend .btn;
		@extend .btn-primary;
		border-radius: 15px;
	}
}

// modal Senso
.my-modal {
	background: #5F065E;
	color: #fff;
	width: 100%;
	height: 100%;
	padding: 5% 10%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
	overflow-y: auto;
	overflow-x: hidden;

	.my-modal-close {
		position: absolute;
		top: 5%;
		right: 5%;
		color: #fff;

		.fa {
			font-size: 5em;
		}
	}

	h1 {
		font-weight: 300;
		font-size: 7em;
		padding-bottom: 0.3em;
	}
	
	p {
		font-size: 1.7em;
		margin-bottom: 1em;
		font-weight: 300;
	}

	form {
		margin-top: 5em;
		padding: 0 25%;

		input[type=text], input[type=email] {
			@include make-xs-column(12);
			@include make-sm-column(12);
			@include make-md-column(12);
			@include make-lg-column(12);
			@extend .form-control;
			border-radius: 15px;
			background: transparent;
			color: #fff;
			font-size: 1.3em;
			padding: 1em;
			margin-bottom: 0.6em;

			&::-webkit-input-placeholder {
				color: #fff;
			}

			&:-moz-placeholder { /* Firefox 18- */
				color: #fff;  
			}

			&::-moz-placeholder {  /* Firefox 19+ */
				color: #fff;  
			}

			&:-ms-input-placeholder {  
				color: #fff;  
			}
		}
		input[type=submit] {
			@extend .btn;
			@extend .btn-default;
			@include make-xs-column(12);
			@include make-sm-column(12);
			@include make-md-column(12);
			@include make-lg-column(12);
			background-color: #fff;
			color: #5F065E;
			border-radius: 15px;
			font-size: 1.2em;
			padding: 0.4em;
		}
	}
}
.right {
	float: right !important;
}
/*WORDPRESS CORE*/

/* =WordPress Core
-------------------------------------------------------------- */

.alignnone {
	margin: 5px 20px 20px 0;
}
.aligncenter, div.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}
.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}
.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}
.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}
a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}
a img.alignnone {
	margin: 5px 20px 20px 0;
}
a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}
a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.wp-caption {
	background: #fff;
	border: 1px solid #f0f0f0;
	max-width: 96%;
	/* Image does not overflow the content area */

padding: 5px 3px 10px;
	text-align: center;
}
.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}
.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}
.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}